/* button {
    all: unset;
} */

* {
  box-sizing: border-box;
}

/* in code baraaye bastane zoom do zarbe i dar chrome iphone va safari e */
button {
  touch-action: manipulation;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.yavar-container {
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
}

.chat-container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid black; */
  position: relative;
  width: 100%;
  height: 100%;
}

.messages-container {
  height: 50vh;
  padding: 8px;
}

.welcome-massage {
  margin-top: 20vh;
  text-align: center;
  line-height: 2;
  font-size: 20px;
  width: 100%;
}

.chat-input-container {
  box-sizing: border-box;
  width: 96%;
  border: 2px solid black;
  margin: 8px;

  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  position: absolute;
  bottom: 0;
}

.chat-input {
  resize: none; /* امکان تغییر اندازه: none|both|horizontal|vertical */
  outline: none; /* حذف هایلایت هنگام فوکوس */
  height: 48px;
  width: 100%;
  border-radius: 32px;
  padding-inline: 16px;
  padding-block: 14px;
  border: none;
}

.send-btn {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  /* margin-left: 0px; */
}

.send-btn i {
  font-size: 48px;
  transition: transform 0.1s ease;
}

.send-btn i:hover {
  transform: scale(1.07);
}

.send-btn i:active {
  transform: scale(0.95); /* حس کلیک شدن */
}
